//==========================

@mixin font-weight($weight) {
  font-weight: $weight !important;
}

//==========================

@for $i from 1 through 9 {
  .is-#{100 * $i} {
    @include font-weight(100 * $i)
  }
}

.is-poppins{
  font-family: 'Poppins', sans-serif;
}

.is-mono, .is-monospace{
  font-family: 'Roboto Mono', monospace;
}

.text-field{
  white-space: break-spaces;
}

.is-roboto-condensed, .is-condensed{
  font-family: 'Roboto Condensed', sans-serif;
}

.button.filter-button{
  border: 1px solid #CACACA;
  justify-content: space-between;
  span:first-child{
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
  }
  &:active, &:focus, &:hover{
    border: 1px solid #CACACA;
  }
}

.dropdown.dropdown-filter{
  .dropdown-item {
    white-space: normal !important;
  }
}